/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
	background-image: url("IMAGES/webpagebackground.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	
	
}

.center {
    margin: 0px auto;
 	background: rgba(48, 158, 94, 0.521); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 0px line rgb(106, 163, 137);
}

   
#logo {
    margin-bottom: 16px;
	border: line 10px rgb(159, 136, 172);
	text-align: center;
}

h1 {
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;1,200&display=swap" rel="stylesheet">
	font-family: 'work sans', sans-serif; 
	font-size: 2em;
    margin: 20px auto 20px auto;
	color: #fff;
	font-weight: 300;
}

h2 {
	<link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap" rel="stylesheet">
	font-family: 'Multi', sans-serif ;
	font-size: 3em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
	margin: 25px auto 25px auto;
	font-weight: 500;
}

p {
	<link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;400;700&display=swap" rel="stylesheet">
	font-family: 'Multi', sans-serif ;
	font-size: 1.2em;
    line-height: 1.6;
	color: #fff;
	font-weight: 300;
}
nav{ 
	font-family: 'Multi', sans-serif ;
	font-size: 2em;
	width: 1000px; 
	margin: 0 auto; 
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}
div{
	box-sizing: border-box;
	padding: 2em;
	border: 0px solid;
}
nav li{
	display:flex;


}
nav a{
	display: flex;
	height: 100px;
	width: 600px;
	padding: 20px;
	margin: auto
}
a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: lighter;

}
a:hover{
	color: white;
	background: rgb(106, 163, 137);
	
}

